* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #444 url('../image/book-background.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 350px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container h1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 40px;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.btn:hover {
  background: #e0e0e0;
  transform: scale(1.03);
}
