* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #444 url('../image/book-background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.h1-message {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 700;
}

.p-message {
    color: #000; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn a:hover{
    background: #0056b3;
}